@charset "utf-8";
*{margin: 0; padding: 0;}
ul, li, ol{list-style: none;}
a{ text-decoration: none; color: inherit;}
img{vertical-align: top;}
/*이미지를 나란히 배치하였을대 공간이생김. 그 공간을 없애줌*/

button{border: 0; background-color: transparent;}
